#questionText{
  text-align: center;
  border: 1px solid #e57373;
  line-height: 1.6;
  border-radius: 15px;
  color:red;
  font-size:  x-large;;
}
button{
    margin: auto;
    text-align: center;
    width: 78%;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #009ac9;
  border: 5px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #20aad9;
  color: #000000;
  border-color: #009ac9;
}
#correctText{
    text-align: center;
}
#progressBar{
  background-color:green;
}
